In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [5]:
# loading options data
options_df = pd.read_csv("AAPL.csv")
# cleaning
mask = options_df["type"] == "put"
options_df = options_df.drop(options_df[mask].index)
options_df["moneyness"] = options_df["closing price"] - options_df["strike price"]
# checking length
#print(options_df["date"].nunique())

In [6]:
# creating mid price
options_df["mid price"] = (options_df["ask price"] + options_df["bid price"])/2
#print(options_df["mid price"])

# organizing based on dates
df = pd.DataFrame()
for header in ["expiration date", "strike price", "mid price", "closing price", "moneyness"]:
    df[header] = options_df.groupby("date")[header].apply(list)

df.head(2)

,expiration date,strike price,mid price,closing price,moneyness
date,,,,,
2016-01-04,"[2016-01-08, 2016-01-08, 2016-01-08, 2016-01-0...","[15.0, 16.25, 17.5, 18.75, 20.0, 21.25, 22.5, ...","[11.3375, 10.0875, 8.8375, 7.5875, 6.3375, 5.0...","[26.337, 26.337, 26.337, 26.337, 26.337, 26.33...","[11.337, 10.087, 8.837, 7.587, 6.337, 5.087, 3..."
2016-01-05,"[2016-01-08, 2016-01-08, 2016-01-08, 2016-01-0...","[15.0, 16.25, 17.5, 18.75, 20.0, 20.125, 20.25...","[10.67875, 9.42875, 8.17875, 6.92875, 5.67875,...","[25.677, 25.677, 25.677, 25.677, 25.677, 25.67...","[10.677, 9.427, 8.177, 6.927, 5.677, 5.552, 5...."

In [43]:
# time to expiration
def time_to_expiration(row):
    date = pd.to_datetime(df.index)
    T = [(pd.to_datetime(ex_date) - date).days for ex_date in row["expiration date"]]
    return T

print(time_to_expiration(df.iloc[0, :])[0])
#print(df.iloc[0, 0])
#len(df["expiration date"])

Int64Index([   4,    3,    2,    1,    0,   -3,   -4,   -5,   -6,   -7,
            ...
            -343, -346, -347, -348, -349, -350, -354, -355, -356, -357],
           dtype='int64', name='date', length=252)

In [12]:
pd.to_datetime(df.index[0])

nums = [3,2,1,0,-1,-2]
max([num for num in nums if num < 0])

Timestamp('2016-01-04 00:00:00')